body {

}
#frontpagebody {
  background-image: url('../images/globe.gif'), url('../images/sky3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#websitebody {
  background-image: url('../images/worldmapplain.png'), url('../images/sky3.jpg');
  background-size: cover;
  background-color: #F0F8FF;
  font-family: 'Acme', sans-serif;
}
h1 {
  color: white;
}
p {
  color: white;
}
#mainfont {
  font-size: 200px;
  text-align: center;
}
